/******************************************************

// Name of File: style.css
// Revision: 1.1
// Date: 29/03/2012
// Author: Luke S.
// Modified: Quintin M. 29/03/2012
// Modified: Quintin M. 07/04/2012
// Modified: Quintin M. 09/04/2012
// Modified: Quintin M. 15/04/2012
// Modified: Quintin M. 16/04/2012

*******************************************************

******************** Start of CSS ********************/


@font-face
{
	/*font-family: Cassa;
	src: url(Cassa.ttf);*/
}
h1
{
	/*color: #000099;*/
	color: black;
	font-size: 25px;
}
h2
{
	/*color: #000099;*/
	color: black;
	font-size: 20px;
}
h3
{
	/*color: #000099;*/
	color: black;
	font-size: 15px;
}






/* THIS IT TO MAKE FOOTER ALWAYS AT BOTTOM */
html, body, #shell
{
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
body > #shell
{
	height: auto;
	min-height: 100%;
}






/* DOCUMENT STRUCTURE */
body
{
	/*background-color: #F1F1F1;*/
	background: black url('/CASSA/images/background/bg.jpg') top center no-repeat;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;

}
#shell
{
	width: 980px;
	background-color: white;
}
#container
{
	width: 950px;

}






/* TEMPLATE OBJECTS */
.menuBar
{
	/*background: none repeat scroll 0%0% rgb(0,0,0);*/
	background-color: black;
	display: block;

	margin: 0pt auto;
	padding: 0pt;

	width: 940px;
	height: 40px;
	
	/*font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;*/
	vertical-align: baseline;
	color: #BBBBBB;
	font-size: 10px;
	line-height: 14px;

	position: relative;
	z-index: 10;
}
	.menuBar ul
	{
		list-style: none outside none;
		margin: 0pt;
		padding: 0pt;

		/*background: none repeat scroll 0%0% transparent;*/
		border: 0pt none;
		
		font-size: 10pt;
		vertical-align: baseline;
		line-height: 14pt;
		
		cursor: pointer;
	}
		.menuBar li
		{
			float: left;
			position: relative;
			background: none repeat scroll 0%0% rgb(0,0,0);
			border: 0pt none;

			margin: 0pt auto;
			padding: 10px;

			cursor: pointer;
		}
			.menuBar li a
			{
				color: rgb(170,170,170);
				display: block;
				padding: 0pt 1px;
				text-decoration: none;
			}
			.menuBar li a:hover
			{
				color: white;
				display: block;
				padding: 0pt 1px;
				text-decoration: none;
			}
			.menuUserColor
			{
				color: lightgreen;
			}
				.children
				{
					box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
					display: none;
					width: 180px;

					position: absolute;
					top: 38px;
					left: 0pt;
					z-index: 10;

					float: left;

					list-style: none outside none;
					margin: 0pt;

					background: black;
					border: 0pt none;
					padding: 0pt;
					
					font-size: 13px;
					vertical-align: baseline;
					color: #BBBBBB;
					line-height: 18px;
				}
					.menuBar ul li .children li
					{
						background-color: #333333;
						width: 180px;
						text-align: left;

						position: relative;
						z-index: 10;
					}


#content
{
	 width: 650px;
 
	 vertical-align: top; 
	 float: left; 
	 margin-left: 40px;

	 text-align: left;
}
#rightPanel
{
	width: 180px;
	float: right;

	position: relative;
	left: -20px;
}
	#loginBox
	{
		width: 150px;
		/*height: 200px;*/

		border: 2px solid #000099;
		padding:10px;

		vertical-align: middle;
	}
	#rightPanelNavigation
	{
		font-size: 10pt;
		text-align: left;
		position: relative;
		left: 5px;
	}
		.rightPanelList
		{
			position: relative;
			left: 0px;
			top: 5px;

		}
		.rightPanelList li
		{
			list-style-type: square;
			margin-left: 20px;
		}
#loginThickBox
{
	font-size: 9pt;
}
#footer
{
	height: 60px;
	margin-left: 20px;

	position: relative;
	bottom: 0;

	clear: both;

	font-size: 11pt;
	text-align: left; 
}






/* SOLO OBJECTS */
.blueLine940
{
	background-color: #014C74;
	width: 940px;
	height: 1px;
	font-size: 2px;
}
.blueLine700
{
	background-color: #014C74;
	width: 700px;
	height: 1px;
	font-size: 2px;
}
.error
{
	color: red;
	font-size: 10pt;
	line-height: 14pt;
}
p
{
	font-size: 12px;
}
.pointer
{
	cursor: pointer;
}
.readonly
{
	background-color: #F0F0F0;
}
.redAstrix
{
	color: red;
	font-size: 12pt;
}






/* HOME PAGE */
#article
{
	width: 640px;
}
.articleTitle
{
	font-weight: bold;
	line-height: 24pt;
	font-size: 16pt;
}
	.articleSubTitle
	{
		font-weight: normal;
		font-size: 9pt;
		color: grey;

		float: left;
	}
	.articleToolBox
	{
		float: right;
		position: relative;
		top: -40px;
	}
.articleMessage
{
	font-size: 12pt;
	/*font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;*/
	line-height: 18pt;
}
.articleImage
{
	max-width: 640px;
}
.articleTag
{
	font-weight: normal;
	font-size: 9pt;
	color: grey;
}



/* REGISTRATION PAGE */
#registrationTable
{
	text-align: left;
	line-height: 24pt;
	font-size: 10pt;

	position: relative;
	left: 80px;
}
.muteInput
{
	background-color: #F0F0F0;
}
.unmuteInput
{
	background-color: white;
}






/* FAQ PAGE */
#faqDIV
{
	border: 1px solid black;
	padding: 40px;

	font-size: 10pt;
}






/* ASK A QUESTION PAGE */
#askQuestionDIV
{
	padding: 40px;
	width: 600px;
	border: 1px solid black;

	font-size: 10pt;
}
.messageArea
{
	width: 600px;
	height: 120px;

	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;

	resize: none;
	overflow: auto;
}
.emailDIV
{
	width: 600px;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 12pt;
	border: 2px solid grey;
	padding: 20px;
}





/* Add Notice */
#newsBox
{
	width: 650px;
	border: 1px solid black;
}
.newsImageImage
{
	border: 0;
	width: 200px;
	height: 200px;
}
.addNoticeBackColor
{
	background-color: #F9F9F9;
	border: 2px solid #CDCDCD;
	font-family: arial;
	font-size: 12pt;
}
.addNoticeTextArea
{
	resize: none;
	width: 480px;
}
.addNoticeTitle
{
	font-weight: bold;
	width: 480px;
}





/* BOARD DIV */
.boardDIV
{	
	width: 930px;
	height: 560px;


 	border: 5px solid #CDCDCD;
	-moz-border-radius: 15px;
	border-radius: 15px;

	text-align: center;

	background: url('/cassa/images/layers/staffMenu.png') right bottom no-repeat;
}
.boardButton
{
	width: 200px;
	height: 200px;
	cursor: pointer;

	border: 0;
}







/* SIMPLE LIGHTBOX */
.black_overlay
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;

	width: 100%;
	height: 100%;
	min-height: 100px;

	background-color: black;
	z-index: 6001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content 
{
	display: none;
	position: absolute;
	/*top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;*/

	/*position: fixed;*/
	top: 50%;
	left: 50%;
	margin-top: -285px;
	margin-left: -600px;

	width: 1142px;
	height: 550px;

	padding: 16px;
	border: 5px solid lightblue;
	background-color: white;
	z-index: 6002;
	overflow: none;
}
	.white_content #closeButton
	{
		position: relative;
		left: 1130px;
		top: -10px;
	}
	.white_content #legend
	{
		font-size: 10pt;
		text-align: right;
		position: relative;
		top: 20px;
	}
	.white_content #seatDetails
	{
		font-size: 10pt;
		text-align: left;
		position: relative;
		top: 0px;
	}


	/* Seat Plan */
	.seat
	{
		border: 0px;
	}
	.seat_sm
	{
		width: 49px;
		height: 53px;
	}
	#S1
	{
		position: relative;
		top: -520px;
		left: 50px;
	}
	#S2
	{
		position: relative;
		top: -650px;
		left: 820px;
	}
	#S3
	{
		position: relative;
		top: -635px;
		left: 360px;
	}
	#S4
	{
		position: relative;
		top: -580px;
		left: 360px;
	}
	#S5
	{
		position: relative;
		top: -686px;
		left: 820px;
	}
	.seatNumberTop
	{
		position: relative;
		left: 20px;
		top: 45px;
	}
	.seatNumberBot
	{
		position: relative;
		left: 15px;
		top: -42px;
	}



/* CREATE PIZZA */
#createPizza
{
	width: 300px;
	padding: 30px;
	border: 3px solid black;
	text-align: left;

	position: relative;
	left: 200px;
}

/* DELETE PIZZA */
#deletePizza
{
	width: 400px;
	table.cellpadding: 30px;
	border: 3px solid black;
	text-align: left;

	position: relative;
	left: 200px;

}

/* Event Page */



#tableEventDetail
{ 
	width:600px;
	    
	border-collapse: collapse;
	border-spacing: 0px;
  
		
}

#tableEventDetail td 

{ 
} 


#headCell_left
{
	background-color: black;
	color:white;
	font-weight: bold;
	text-align:left;
	height: 30px;
	width: 450px;
	
	
	
}

#headCell_middle
{
	background-color: black;
	color:white;
	height: 30px;
	width: 50px;
	
}		


#headCell_right
{
	background-color: black;
	color:white;
	height: 30px;
	width: 100px;
	
	align: right;
}
#titleCell
{
	background-color: blue;
	color:white;
	font-style: bold;
	height: 30px;
	width: 200px;
}	



#detailCell
{
	background-color: #D0D0D0;
	color: black;
	height: 30px;
	width: 300px;
	text-align: left;
}


#pad
{
	background-color: #D0D0D0;
	height: 30px;
	width: 100px;
	text-align: right;	
}



#eventDetail
{
	width: 600px;
	border: 1px solid blue;
	border-spacing: 0px;
	padding:20px;
	text-align:left;
}	
