//******************************************************
// Name of File: CSSsoFar.css
// Revision: 1.1
// Date: 29/03/2012
// Author: Luke S.
// Modified: Quintin M. 29/03/2012
//******************************************************

//******************** Start of CSS ********************/

a:link {color:#FF0000;}    /* unvisited link */
a:visited {color:#00FF00;} /* visited link */

body
{
	background-color:#ffffff;
}
h1
{
	color:#000099;
	text-align:center;
	font-family:"arial";
	font-size:25px;
}
#h1w
{
	color:#ffffff;
	text-align:center;
	font-family:"arial";
	font-size:25px;
}
h2
{
	color:#000000;
	text-align:center;
	font-family:"arial";
	font-size:20px;
}

h3
{
	color:#000000;
	text-align:center;
	font-family:"arial";
	font-size:15px;
}
div.top_header
{
	width:800px;
	height:80px;
	align:left;
}

t8
{
	font-family:"arial";
	font-size:12px;
}



p.solid
{
 border-style:solid;
 border-width:thin;
 border-color:#000099;

	padding:6px;

}
p.solid2
{
 border-style:solid;
 border-width:thin;
 border-color:#000099;
margin: 4px;
	padding:6px;

}

#p.red
{
 	font-family:"arial";
	font-size:12px;
	color: red;
}
